.dyp-flight-list {
    position: absolute;
    bottom: 3.45em;
    left: 50px;
    font-size: xx-small;
    outline: none;
    text-transform: uppercase;
    /* max-height: 150px; */
    transform: translate(0px, 0px);
    font-family: var(--sesar-font-mono);
    z-index: 500;
}

.dyp-flight-list-table {
  background-color: #34495e;
  width: fit-content;
  border-collapse: collapse;
  color: #e0e0e0;
  font-family: monospace;
  font-size: 11px;
  text-align: center;
  height: 100%;
  /* overflow: hidden; */
}

.dyp-flight-list-table td {
  border: 2px solid #112233;
  padding: 6px;
}

/* .dyp-info-cell {
  background-color: #3b5167;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-size: 12px;
} */

/* .level-cell {
  background-color: #2a3f55;
  color: #90ee90;
}

.adep-ades-cell {
  background-color: #2a3f55;
  font-weight: bold;
  color: #ffffff;
}

.time-cell {
  background-color: #142433;
  font-size: 11px;
  font-weight: bold;
}

.waypoint-cell {
  background-color: #223a5f;
  font-size: 11px;
  line-height: 1.2;
} */
.adep-ades-cell {
  background-color: #2a3f55;
  font-weight: bold;
  color: #ffffff;
  vertical-align: middle;
}

.sector-cell {
  background-color: #2b4b66;
  font-size: 11px;
}

.footer-row td {
  background-color: #112233;
  font-weight: bold;
  padding-top: 8px;
}

.dyp-info-cell {
  writing-mode: vertical-rl;
  text-align: center;
  font-weight: bold;
  background-color: #3a4b5c;
  color: #90caf9;
}

.flight-info-cell, .level-cell, .adep-ades-cell, .waypoint-cell, .sector-cell {
  background-color: #34495e;
  /* color: #90ee90; */
  text-align: center;
}

.footer-row td {
  background-color: #1c2833;
  color: white;
}
