.navbar.button-navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  z-index: 1;
}

.navbar.button-navbar button {
  height: inherit;
  color: white;
  font-size: x-small;
  background-color: #1e3a5f; /* dark blue */
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #2a5d8f; /* medium blue */
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  flex-shrink: 1;
}
.image-configuration-section {
  display: flex;
  gap: 0.5rem;
  background-color: #232323;
  padding: 1rem;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  align-items: center;
}

.navbar.button-navbar button:focus {
  outline: none;
  box-shadow: none;
  border-color: #3f77b2; /* brighter blue for focus */
}

.navbar.button-navbar button:hover {
  background-color: #2a5d8f; /* lighter blue */
  border-color: #4b90db;
}

.navbar.button-navbar button:active {
  background-color: #366fa3;
  border-color: #5aa1e6;
}

.navbar.button-navbar button.active {
  background-color: #4b90db;
  border-color: #6bb3f0;
}

.navbar.button-navbar button:disabled {
  background-color: #444;
  color: #ccc;
  border-color: #333;
}

.navbar.button-navbar button.microphone-button-is-listening {
  background-color: #dc3545;
  border-color: #dc3545;
}

.navbar.button-navbar button.microphone-button-is-processing {
  background-color: rgba(0, 64, 128, 0.5);
}

.navbar.button-navbar button.microphone-button-is-error {
  background-color: rgba(200, 0, 0, 0.5);
}

.navbar.button-navbar button.microphone-button-is-success {
  background-color: rgba(0, 200, 0, 0.5);
}
