.navbar.button-navbar {
  height: 1.9em;
  padding: 0;
  background-color: #555;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar.button-navbar button {
  /* Fill the height */
  height: inherit;
  color: white;
  font-size: x-small;
  background-color: rgb(170, 170, 170);
  border-radius: 0;
  border-width: 2px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  flex-shrink: 1;
}
.navbar.button-navbar button,
.navbar.button-navbar button,
.navbar.button-navbar button:focus {
  border-style: solid;
  border-top-color: rgb(180, 180, 180);
  border-right-color: rgb(110, 110, 110);
  border-bottom-color: rgb(110, 110, 110);
  border-left-color: rgb(160, 160, 160);
}

.navbar.button-navbar button:focus {
  box-shadow: none;
}

.navbar.button-navbar button:disabled {
  /* Fill the height */
  box-shadow: none !important;
  height: inherit;
  color: white;
  font-size: x-small;
  background-color: rgb(83, 83, 83);
  border-bottom: 2px solid rgb(33, 33, 33);
}
.navbar.button-navbar button:hover {
  background-color: rgb(130, 130, 130);
}
.navbar.button-navbar button:active {
  background-color: rgb(100, 100, 100);
}
.navbar.button-navbar button:hover,
.navbar.button-navbar button:active {
  border-style: solid;
  border-top-color: rgb(160, 160, 160);
  border-right-color: rgb(90, 90, 90);
  border-bottom-color: rgb(90, 90, 90);
  border-left-color: rgb(140, 140, 140);
}

.navbar.button-navbar button.active {
  background-color: rgb(140, 140, 140);

}

#speed-vector-range {
  appearance: slider-horizontal !important;
  -webkit-appearance: slider-horizontal !important;
  width: 5em;
  /* background-color: gray !important; */
}

#distance-measurement-drop-down {
  background-color: inherit;
  color: inherit;
  height: 1.9rem;
}

.navbar.button-navbar button.microphone-button-is-listening {
  background-color: #dc3545;
  border-color: #dc3545;
}

.navbar.button-navbar button.microphone-button-is-processing {
  background-color: rgba(0, 64, 128, 0.5);
}

.navbar.button-navbar button.microphone-button-is-error {
  background-color: rgba(200, 0, 0, 0.5);
}

.navbar.button-navbar button.microphone-button-is-success {
  background-color: rgba(0, 200, 0, 0.5);
}