.navbar.button-navbar{
    height: 1.9em;
    padding: 0;
    background-color: #555;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.navbar.button-navbar button {
  /* Fill the height */
  height: inherit;
  color: white;
  font-size: x-small;
  background-color: rgb(170, 170, 170);
  
}
.navbar.button-navbar button:disabled{
  /* Fill the height */
  box-shadow: none !important;
  height: inherit;
  color: white;
  font-size: x-small;
  background-color: rgb(83, 83, 83);
  border-bottom: 2px solid rgb(33, 33, 33);
}

#speed-vector-range {
    -webkit-appearance: slider-horizontal !important;
    width: 5em;
    /* background-color: gray !important; */
}