.time {
  position: absolute;
  top: 0;
  right: 50%;
  background: rgba(90, 90, 90, 0.8);
  border-radius: 1.5px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.1rem 0.2rem;
}