.voice-command-feedback {
  position: absolute;
  bottom: 1.9rem;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
  z-index: 9999;
}

.voice-command-feedback-processing {
  background-color: rgba(0, 64, 128, 0.5);
}