/* @import-normalize; */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.map-container {
    height: 400px;
    background-color: black;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.control-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    background: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 12px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #000;
    outline: none;
    text-transform: uppercase;
}

.aircraft-list {
    position: absolute;
    top: 0;
    left: 5;
    width: 250px;
    padding: 10px 14px;
    margin: 8px;
    font-size: 10px;
    line-height: 2;
    /* color: #fff; */
    outline: none;
    text-transform: uppercase;
    height: 250px;
    overflow-y: scroll;
}

.flights-title {
    position: absolute;
    top: 0;
    left: 5;
    background: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px 24px;
    font-size: 13px;
    line-height: 2;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    height: 250px;
}

.aircraft-list::-webkit-scrollbar {
    display: none;
}


/* .filt-button {
    position: fixed;
    bottom: 1;
    left: 0;
} */


/* For popup on flights */

.mapboxgl-popup-close-button {
    color: white;
}

.mapboxgl-popup-content {
    background: rgb(34, 34, 34);
    color: white;
    /* border-top-color: white; */
}

.mapboxgl-popup-anchor-bottom>.mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-bottom>.mapboxgl-popup-tip {
    border-top-color: rgb(34, 34, 34);
}


/* Filter panel and button */

.filter-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    background: transparent;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
    /* padding: 12px 24px;
    margin: 20px; */
    font-size: 13px;
    /* line-height: 2; */
    color: white;
    outline: none;
    /* text-transform: uppercase; */
}

.filter-panel .card {
    flex-direction: column-reverse;
    background: transparent !important;
}

.filter-header {
    /* border: 1px solid #cccc; */
    font-weight: normal;
    background: transparent !important;
}

.filter-header button {
    /* border: 1px solid #cccc; */
    font-weight: normal;
    background: black;
    margin-top: -8px;
    margin-left: -15px;
    padding: 6px;
}

.body-panel {
    border: 1px solid white;
    background: rgb(34, 34, 34);
    padding-bottom: 0;
    margin-bottom: 0;
    width: 20em;
    height: 12em;
}

.set-button {
    background: 'rgb(34, 34, 34)';
    color: '#fff';
}

.range {
    width: 20px;
    height: 80px;
    margin: 0;
    padding-left: 0;
    /* transform: rotate(-90deg); */
}

.range-wrapper {
    height: 20px;
    width: 20px;
    /* transform: rotate(-90deg); */
}

input[type="range"] {
    -webkit-appearance: slider-vertical;
}