/* @import-normalize; */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.map-container {
    height: 400px;
    background-color: black;
}

html,
body {
    width: 100%;
    height: 100%;
}

div#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#root>main {
    flex-grow: 1;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

/* Accordion for sector configurations */
.sector-configuration-accordion .accordion-item {
    border-color: #404040;
}
.sector-configuration-accordion .accordion-button {
    box-shadow: inset 0 -1px 0 #404040;
}
.sector-configuration-accordion  .sector-title {
    font-size: 10px !important;
}

.sector-configuration-accordion .sector-body {
    font-size: 8px !important;
}

.sector-configuration-accordion .span3 {
    display: inline-table;
    margin: 0px;
    flex-wrap: nowrap;
}
.sector-box{
display: grid;
width: 500px;
height:250px;
grid-template-rows: repeat(4, 4.5em);
gap: 0px;
}

.accordion-body{
    position: relative;
}

#table-of-config {
    width: 450px;
    position: relative;
    left: -5px;

}
.highlight-sector{
    border: 6px solid rgba(250,250,250,0.5) !important;

}
.no-highlight-sector{
    border: none;
}

#table-of-config tr,
#table-of-config td {
    padding: 1px !important;
    margin: 1px !important;
}

.control-panel {
    position: absolute;
    top: 72px;
    z-index: 34;
    right: 50%;
    width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 2;
    color: #000;
    outline: none;
    text-transform: uppercase;
}
.timeline-rectangle{
    background-color: #4472c4;
    height: 250px;
    width: 15px;
    position:absolute;
    right:1px;
    top:10px;
    z-index: 0;
}
.timeline-rectangle0{
    background-color: #4472c4;
    height: 300px;
    width: 15px;
    position:absolute;
    right:1px;
    top:0px;
    z-index: 0;
}
.timeline-rectangle1{
    background-color: #4472c4;
    height: 284px;
    float: right;
    width: 15px;
    position:absolute;
    right:1px;
    top:0;
    z-index: 0;
}
.moveable-timeline-rectangle{
    color: #fff;
    font-size: 12px;
    width: 50px;
    height: 20px;
    position: absolute;
    right:-15px;
    background-color: #ed7d31;
    z-index: 1;
    border: solid #b66129 2px;
    text-align: center;
    line-height: 16px;
}
.accordion-button:not(.collapsed){
    background-color: #222 !important;
    color: #fff !important;
    z-index: 1;
}
/* Aircraft list */

.aircraft-list {
    position: absolute;
    top: 0;
    left: 5;
    width: 250px;
    padding: 10px 14px;
    margin: 8px;
    font-size: 10px;
    line-height: 2;
    outline: none;
    text-transform: uppercase;
    height: 250px;
    overflow-y: scroll;
}

.aircraft-list::-webkit-scrollbar {
    display: none;
}

/* For Sector Flight List */
.sector-flight-list {
    position: absolute;
    bottom: 0;
    left: 5;
    width: 500px;
    padding: 10px 14px 14px 14px;
    margin-bottom: 50px;
    margin-left: 40px;
    font-size: 10px;
    line-height: 2;
    font-size: xx-small;
    outline: none;
    text-transform: uppercase;
    height: 200px;
    overflow-y: scroll;
    transform: translate(0px, 0px)
}
.fix-selector{
    align-self: center;
    font-size: 10px !important;
    color: #fff !important;
    width: 10em !important;
    height: 3em;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.fix-selector-container{
    display: inline-flex;
    justify-content: start;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size: 10px !important;
    color: #fff !important;
    width: 20em !important;
    height: 3em;
}
.number-of-flight{
    display: inline-flex;
    justify-content: space-around;
    width: 3em;
}

.sector-flight-list::-webkit-scrollbar {
    display: none;
}

/* For popup on flights */
.mapboxgl-popup-close-button {
    color: white;
}

.mapboxgl-popup {
    max-width: none;
    width: fit-content;
    height: fit-content;
    /* width:20px; */
    font-size: 0.8em;
    z-index: 0;
}

.flight-popup-main .btn {
    padding: 0 0.25rem;
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
} 

.flight-popup-main {
/** Disable text selection */
user-select: none;
}

.flight-popup-children {
    padding-top: 3px;
}

.flight-popup-container {
    border-spacing: 0;
}

.flight-popup .gutter-2 {
    line-height: 1.4em;
    margin: 0;
    padding: 0 0.25rem 0 0.25rem;
}

.flight-popup button.btn {
    box-shadow: none;
}

.flight-popup button.btn:active {
    color: black;
}

.flight-popup .flight-popup-main {
    background: rgba(90, 90, 90, 0.5);
    border-radius: 1.5px;
}
.flight-popup {
    backdrop-filter: blur(1.5px);
    /* color: white; */
    padding: 0;
    margin: 0;
    width: 11em;
    z-index: 0;
}


.flight-popup .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    /* margin-bottom: 5px; */
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-top-color: rgb(34, 34, 34);
    display: none;
}

.mapboxgl-popup-anchor-bottom>.mapboxgl-popup-tip {
    border-top-color: rgb(34, 34, 34);
    display: none;
}

/* For level pop up */

.level-popup {
    width: 150px;
    height: fit-content;
}

.level-popup.accepted {
    border-color: rgb(120, 226, 81);
}

.level-popup-header {
    text-align: center;
}

.level-popup-main {
    display: flex;
}

.level-popup-main .levels-container {
    width: 50%;
    text-align: center;
}
.level-popup-main .levels-slider {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.level-popup-main .level-range {
    flex-grow: 1;
}

.choose-flight-level {
    /* padding:-5px; */
    /*margin-top: -4px;*/
}

/*.level-popup .mapboxgl-popup-anchor-bottom>.mapboxgl-popup-content {
    margin-top: 0px;
    border-color: white;
}*/

.level-popup .levels-container .btn {
    background: transparent;
    border-color: transparent;
}
.level-popup .levels-container .btn:hover,
.level-popup .levels-container .btn.active,
.level-popup .levels-container .btn:active {
    background: #444;
}

.level-range {
    width: 100%;
}

.levels-container {
    scroll-snap-type: y mandatory;
    height: 13em;
    overflow-y: scroll;
}

.levels-container::-webkit-scrollbar {
    display: none;
}

.flight-level-element {
    font-size: 12px !important;
}

.child {
    /* scroll-snap-align: start; */
    font-size: small;
}

.arrow-button {
    font-size: 6px !important;
}

.apply-cancel-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin-right:-10px; */
    margin-left: -10px;
    width: 2em !important;

}

.apply-cancel-button {
    /* width: 4em !important; */
    font-size: 8.5px !important;
    align-items: center;
    padding: -3px -5px !important;
    border-radius: 5px;
    /* height: 75%; */
}

/* For Next Sector Popup */
.next-sector-popup .mapboxgl-popup-content button.btn {
    box-shadow: none;
}

.next-sector-popup .mapboxgl-popup-content button.btn:active {
    color: black;
}

.next-sector-popup .mapboxgl-popup-content {
    background: transparent;
    border-radius: 1.5px;
    /* color: white; */
    padding: 0;
    margin: 0;
    height: 3em;
    width: 16em;
    z-index: 0;
}

.change-bearing, .change-next-fix, .next-sector-popup, .change-speed, .level-popup {
    background: rgba(90, 90, 90, 0.5);
    border-radius: 1.5px;
    padding: 0.2rem;
    width: 110px;
    z-index: 0;
    position: relative;
}

.level-popup {
    width: 150px;
}

.change-speed {
    width: 121px;
}

.submit-cancel-buttons {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-top: 3px;
    justify-content: space-between;
}

.submit-cancel-button.btn {
    flex-grow: 1;
    height: 1.9rem;
    font-size: x-small;
    align-items: center;
    padding: 0;
    border-radius: 0px;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
    color: white;
    background-color: rgb(170, 170, 170);


}

.submit-cancel-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: -10px;
    margin-left: -10px;
    width: 15em !important;

}

.dropdown-button {
    width: 6em !important;
    height: 3em !important;
    font-size: 8.0px !important;
    line-height: 0em !important;
    margin: 0;
    padding: 0 !important;
    color: #000 !important;
    background-color: #fff !important;
    position: relative;
    border-radius: 0px !important;

    /* left: -1px; */

}

.next-sector-popup .gutter-2 {
    line-height: 1.4em;
    margin: 0;
    padding: 0 0 0 0;
}

.controller-modal .modal-header {
    border-bottom: none;
    padding-bottom: 0.5rem;
}

.controller-modal .modal-body {
    padding-bottom: 1.5rem;
}

/* Pseudo popup */

.choose-next-controller {
    background-color: rgba(90, 90, 90, 0.5);
}

.input-filter-popup {
    background: transparent;
    border: none;
    color: white;
    width: 6.2em !important;
}

.input-filter-bearing {
    background: transparent;
    border: none;
    color: white;
    width: 4.4em !important;
}

/* Sector configuration time toggle container */

.toggle-countdown-container {
    display: flex;
    direction: column;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    align-self: center;
    top: 0;
    right: 60%;
    width: 12em;
    background: rgba(90, 90, 90, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 11px;
    line-height: 2;
    color: #000;
    outline: none;
    z-index: 500;
}

.time-to-change {
    color: #0ff;
    text-align: center;
}

.toggle-sectors-button {
    width: 100%
}

/* COMPASS */

#map-3d > * .maplibregl-ctrl-group .maplibregl-ctrl-compass{
    position: absolute;
    top: 7.5em;
    right: 6.8em;
    width: 3em;
    height: 3em;
    /* background-color: #fff !important; */
    z-index: 0;
    border: 0;
}
.compass{
    position: absolute;
    right: 16.5em;
    top: 23em;

}
.mapboxgl-ctrl-top-right .maplibregl-ctrl-top-right{
    z-index: -1;
}

#map-3d > * .mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon, .maplibregl-ctrl button.maplibregl-ctrl-compass .maplibregl-ctrl-icon {
    background-color: transparent;
    background-image: url('/compassArrow.svg') !important;
    background-size: 120% 120%;
}

.north-button{
    position:absolute;
    bottom: 16em;
    left: 4.8em;
    width: 5em;
    height: 3em;
    background-color: transparent;
    border: 0;
    background-image: url('../saveDirectionArrow.png');
    background-size: 100% 100%;
    transform: rotate(90deg);


}
.south-button{
    position:absolute;
    left: 4.8em;
    bottom: 7em;
    width: 5em;
    height: 3em;
    background-color: transparent;
    border: 0;
    background-image: url('../saveDirectionArrow.png');
    background-size: 100% 100%;
    transform: rotate(-90deg);


}
.east-button{
    position:absolute;
    left: 9.2em;
    bottom: 11.5em;
    width: 5em;
    height: 3em;
    background-color: transparent;
    border: 0;
    background-image: url('../saveDirectionArrow.png');
    background-size: 100% 100%;
    transform: rotate(180deg);

}
.west-button{
    position:absolute;
    left: 0.5em;
    bottom: 11.5em;
    width: 5em;
    height: 3em;
    background-color: transparent;
    border: 0;
    background-image: url('../saveDirectionArrow.png');
    background-size: 100% 100%;
}
.chevronlabel {
  background-color: #0099C3; 
  width: 31px;
  height: 35px;
  display: inline-block;
  color: #ffffff;
  box-sizing: border-box;
  font-family: Arial;
  /* z-index: 5;
  background-image: url('../arrow.svg');
  transform: scale(2,2); */
  /* padding: 8px 30px 8px 12px; */
  position: absolute;
  /* bottom: 9em; */

}
.chevron-degrees-button{
    width: 3em;
    height: 3em;
    background-image: url('../arrow_chevron.png');
    background-color: transparent;
    border: 0;
    background-size: 100% 100%;
}
.chevron-north{
    position:absolute;
    bottom: 19em;
    left: 5.8em;
    transform: rotate(90deg);
}
.chevron-south{
    position:absolute;
    left: 5.8em;
    bottom: 4em;
    transform: rotate(-90deg);
}
.chevron-west{
    position:absolute;
    left: -1.5em;
    bottom: 11.5em;
    width: 3em;
    height: 3em;
}
.chevron-east{
    position:absolute;
    left: 13.2em;
    bottom: 11.5em;
    transform: rotate(180deg);
    width: 3em;
    height: 3em;
}