/* @import-normalize; */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.map-container {
    height: 400px;
    background-color: black;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

/* .mapboxgl-popup-content {
    text-align: start;
    width:1px;
    height:1px;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
} */

.control-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    background: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 12px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #000;
    outline: none;
    text-transform: uppercase;
}

.aircraft-list {
    position: absolute;
    top: 0;
    left: 5;
    width: 250px;
    padding: 10px 14px;
    margin: 8px;
    font-size: 10px;
    line-height: 2;
    outline: none;
    text-transform: uppercase;
    height: 250px;
    overflow-y: scroll;
}

.aircraft-list::-webkit-scrollbar {
    display: none;
}
/* For Sector Flight List */
.sector-flight-list{
    position: absolute;
    bottom: 0;
    left: 5;
    width: 500px;
    padding: 10px 14px 14px 14px;
    margin-bottom: 50px;
    margin-left: 40px;
    font-size: 10px;
    line-height: 2;
    font-size: xx-small;
    outline: none;
    text-transform: uppercase;
    height: 200px;
    overflow-y: scroll;
    transform: translate(0px,0px)
}
.sector-flight-list::-webkit-scrollbar {
    display: none;
}

/* For popup on flights */
.mapboxgl-popup-close-button {
    color: white;
}
.mapboxgl-popup {
    max-width: none;
    width:fit-content;
    height:fit-content;
    /* width:20px; */
    font-size: 0.8em;
    z-index: 0;
}
.flight-popup-container{
padding:-5px;
margin-top:-4px;
margin-bottom:-3px;
border-spacing: 0;
}

.gutter-2{
margin-top:-5px;
margin-bottom:-7px;
margin-right:-10px;
margin-left:-10px}

.flight-popup .mapboxgl-popup-content {
    background: rgba(90, 90, 90, 0.8);
    border-radius: 1.5px;
    /* color: white; */
    padding:0;
    margin:0;
    width: fit-content;
    height: 5.1em;
    width: 11em;
    z-index: 0;
}

.flight-popup .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    /* margin-bottom: 5px; */
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-top-color: rgb(34, 34, 34);
    display: none;
}
.mapboxgl-popup-anchor-bottom>.mapboxgl-popup-tip {
    border-top-color: rgb(34, 34, 34);
    display: none;
}
/* For level pop up */

.level-popup .mapboxgl-popup-content {
    background: rgb(70, 70, 70);
    color: white;
    padding:0;
    margin:0;
    width: 9em;
    z-index: 0;
    height: fit-content;
    border-style: solid;
    border-width: 1px;
    /* border-color: #fff; */
}
.level-popup.accepted .mapboxgl-popup-content {
    border-color: aqua;
}
.choose-flight-level{
/* padding:-5px; */
margin-top:-4px;
border-spacing: 0;
margin-bottom: 1px;
margin-right: -10px;
margin-left: -10px;

}

.level-popup .mapboxgl-popup-anchor-bottom>.mapboxgl-popup-content {
    margin-top: 0px;
    border-color:white;
}
.level-range{
    width: 20px;
    height: 10em;
}
.levels-container{
    scroll-snap-type: y mandatory;
    height: 13em;
    overflow-y: scroll;
}
.levels-container::-webkit-scrollbar {
    display: none;
}
.flight-level-element{
font-size: 12px !important;
}
.child{
/* scroll-snap-align: start; */
font-size: small;
}
.arrow-button{
font-size: 6px !important;
}

.apply-cancel-wrapper{
    margin-top:0px;
    margin-bottom: 0px;
    /* margin-right:-10px; */
    margin-left:-10px;
    width: 2em !important;

}
.apply-cancel-button{
/* width: 4em !important; */
font-size:8.5px !important;
align-items: center;
padding: -3px -5px !important;
border-radius: 5px;
/* height: 75%; */
}
